<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 Ver.2</title>

    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../css/headers.css"
          th:href="@{/css/headers.css}" rel="stylesheet">
</head>

<body>
<main>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="50" height="42" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                    <img src="https://velog.velcdn.com/images/ljh3478/post/66637c6e-80e8-43b7-9e82-059c3c1e67ba/image.jpg" alt="mdo" width="32" height="26">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://velog.velcdn.com/images/ljh3478/post/1f769a8e-c6d5-448c-82ea-e036385c69af/image.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</main>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시물 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/posts/new}'|"
                    type="button">게시물 등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table table-striped">
            <thead>ㅈ
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
                <th>조회수</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.postId}"></td>
                <td><a th:href="@{/posts/datail/{postId}(postId=${post.postId})}"
                       th:text="${post.postTitle}"></a></td>
                <td th:text="${post.postWriter}"></td>
                <td th:text="${post.postDate}"></td>
                <td th:text="${post.postHit}"></td>
            </tr>
            </tbody>
        </table>

    </div>
</div> <!-- /container -->
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>